* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

button {
  position: relative;
  height: 60px;
  width: 200px;
  border: none;
  background-color: #111;
  color: white;
  font-size: 18px;
  border-radius: 5px;
}

button::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 5px;
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  background-size: 400%;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  animation: animate 20s linear infinite;
  filter: blur(5px);
}

button:hover::before {
  opacity: 1;
}

button:hover:active::before {
  filter: blur(2px);
}

button:hover:active {
  background: none;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
